* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

header {
  font-family: 'Caveat', cursive;
  margin-left: 50px;
  margin-top: 15px;
}

/*  nav styling  */

/*nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}*/

.top_nav {
  display: flex;
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}

.nav_links {
  list-style: none;
  padding: 10px;
  text-align: center;
  width: 150px;
}

.products {
  font-family: 'Caveat', cursive;
  /*font-size: 24px;*/
  list-style: none;
  text-align: center;
  width: 111px;
}

.products a {
  color: black;
  text-align: center;
  width: 100%;
}

.products div {
  padding: 10px;
}

nav a {
  color: black;
}

/* sub nav styling */

.sub_nav {
  /*display: flex;*/
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 16px;
  text-align: left;
}

.sub_nav_links {
  font-family: sans-serif;
  list-style: none;
  padding: 10px;
  width: 111px;
}

.google:hover {
  background-color: #47B04B;
}

.microsoft:hover {
  background-color: deepskyblue;
}

.apple:hover {
  background-color: indianred;
}

.sub_nav_links a {
  color: black;
  padding: 5px;
}

/*.sub_nav_links:hover > a {
  color: white;
}*/

nav ul ul {
  position: absolute;
  left: -99999px;
}

nav ul li:hover {
  background-color: #eee;
  border-radius: 3px;
}

nav ul li:hover:last-child {
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding-right: 12px;
}

nav ul li:hover > a, nav ul li:hover > div {
  color: coral;
}

.apple:hover a, .google:hover a, .microsoft:hover a {
  color: white;
}

nav ul li:hover > .sub_nav {
  background-color: #eee;
  position: absolute;
  left: 450px;
  top: 120px;
}

nav ul li:hover > .sub_nav > .sub_nav_links {
  margin-top: 5px;
}

.selected {
  color: coral;
  font-family: 'Caveat', cursive;
  font-size: 20px;
}

.selected:visited {
  color: coral;
  font-family: 'Caveat', cursive;
}

/*.sub_nav_links .selected {
  color: white;
}*/

/*  Home Page Styling  */

.Home {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: scroll;
}

.Home div {
  width: 50%;
}

img {
  height: 50%;
}

/* Google page styling */
.google_device {
  background-color: #eee;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  height: 300px;
  margin: 50px auto;
  width: 80%;
}

.google_device img {
  width: 400px;
  height: 100%;
}

.google_device div {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}

.google_device p {
width: 50%;
}

.cart_add {
align-self: flex-end;
border-top-left-radius: 3px;
color: white;
padding: 10px 40px;
}

.google_cart_add {
  background-color: #47B04B;
}

.google_cart_add:hover {
  background-color: forestgreen;
  color: white;
}

.apple_cart_add {
  background-color: indianred;
}

.apple_cart_add:hover {
  background-color: firebrick;
  color: white;
}

.ms_cart_add {
  background-color: deepskyblue;
}

.ms_cart_add:hover {
  background-color: dodgerblue;
  color: white;
}

.go_cart {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: fixed;
  right: 20px;
  top: 15px;
  width: 50px;
  vertical-align: middle;
}

.go_cart a {
  background-color: coral;
  border-radius: 50%;
  color: white;
  padding: 10px 15px;
}

.go_cart i {
  font-size: 32px;
  height: 100%;
  width: 100%;
}

/* About page styling */

.About {
  background-image: url("../images/home/about_us.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 485px;
  margin: 0px auto;
  width: 80%;
}

.About h1 {
  color: black;
}

.About p {
  /*text-shadow: 1px 1px 1px black;*/
  font-size: 24px;
  line-height: 1.6em;
  margin: 0px auto;
  width: 80%;
}

/* icon styling */
.Contact a {
  color: black;
}

a .fa {
  color: black;
  font-size: 56px;
}

/* Contact page styling */

.Contact {
  background-color: #eee;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 100px auto;
  padding: 20px;
  width: 80%;
}

.social_links {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 20%;
}

.social_span {
  margin-left: 10px;
  vertical-align: top;
}

.social {
  width: 50%;
}

.email_link {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

textarea {
  border-radius: 5px;
  height: 100px;
  padding: 5px;
  resize: none;
  width: 50%;
}
