* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

header {
  font-family: 'Caveat', cursive;
  margin-left: 50px;
  margin-top: 15px;
}

/*  nav styling  */

/*nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}*/

.top_nav {
  display: flex;
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}

.nav_links {
  list-style: none;
  padding: 10px;
}

.products {
  list-style: none;
}

.products a {
  color: black;
  text-align: center;
  width: 100%;
}

.products div {
  padding: 10px;
}

nav a {
  color: black;
}

/* sub nav styling */

.sub_nav {
  /*display: flex;*/
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 16px;
}

.sub_nav_links {
  list-style: none;
  padding: 10px;
}

.google:hover {
  background-color: #47B04B;
}

.microsoft:hover {
  background-color: deepskyblue;
}

.apple:hover {
  background-color: indianred;
}

.sub_nav_links a {
  color: black;
  padding: 5px;
}

/*.sub_nav_links:hover > a {
  color: white;
}*/

nav ul ul {
  position: absolute;
  left: -99999px;
}

nav ul li:hover {
  background-color: #eee;
  border-radius: 3px;
}

nav ul li:hover:last-child {
  border-radius: 0px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding-right: 12px;
}

nav ul li:hover > a, nav ul li:hover > div {
  color: coral;
}

.apple:hover a, .google:hover a, .microsoft:hover a {
  color: white;
}

nav ul li:hover > .sub_nav {
  background-color: #eee;
  position: absolute;
  left: 343px;
  top: 115px;
}

nav ul li:hover > .sub_nav > .sub_nav_links {
  margin-top: 5px;
}

.selected {
  color: coral;
}

.selected:visited {
  color: coral;
}

/*.sub_nav_links .selected {
  color: white;
}*/

/*  Home Page Styling  */

.Home {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: scroll;
}

.Home div {
width: 50%;
}

img {
  height: 50%;
}

/* Google page styling */
.google_device {
  background-color: #eee;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  height: 300px;
  margin: 50px auto;
  width: 80%;
}

.google_device img {
  width: 400px;
  height: 100%;
}

.google_device div {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
}

.google_device p {
width: 50%;
}

.cart_add {
align-self: flex-end;
margin-right: 30px;
}

.go_cart {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  position: fixed;
  right: 20px;
  top: 15px;
  width: 50px;
  vertical-align: middle;
}

.go_cart a {
  background-color: coral;
  border-radius: 50%;
  color: white;
  padding: 10px 15px;
}

.go_cart i {
  font-size: 32px;
  height: 100%;
  width: 100%;
}
